<%- include("partials/header") -%>
<%- include("partials/navbar", {active: "About"}) -%>


      <div class="white">
      <h1>About Me</h1>
    </div>
    <div class="coloured">
      <div class="row">
        <div class="col-lg-4">
      <div class="bio-section">

      <img class="bio-img" src="images/grad_icon.png">
      <h2>Education</h2>
      <ul class="bio-text">
        <li>Master's degree in Music Education</li>
        <li>Graduated each year with distinction</li>
        <li>Specialization in Piano as an Instructor, Accompanist, Performer</li>
        <li>Specialization in Theory and Choir Conducting</li>
      </ul>
      </div>
      </div>
  <div class="col-lg-4">
      <div class="bio-section">

      <img class="bio-img" src="images/work.webp">
      <h2>Professional Experience</h2>
      <ul class="bio-text">
        <li>Teaching experience since 1989 (All levels)</li>
        <li>Over 30 years experience as a solo performer and accompanist</li>
        <li>Good to excellent results in student examinations</li>
        <li>Successful student participation in festivals, scholarship assessments</li>
        <li>Student recitals twice a year</li>
      </ul>
      </div>
</div>
<div class="col-lg-4">
      <div class="bio-section">

      <img class="bio-img" src="images/medal.png">
      <h2>Additional Information</h2>
      <ul class="bio-text">
        <li>Each student can be tailored to their individual needs</li>
        <li>RCM examinations are encouraged but optional</li>
        <li>Special program for adults</li>
      </ul>
      </div>
      </div>
    </div>
    </div>

    <div class="white">
        <h2>Events</h2>
      <img style="height: 250px; margin-bottom: 50px;" src="images/grandpiano.png">
      <p>Two recitals a year held in Spring and Fall.</p>
    </div>

    <div class="coloured">
      <h2 style="text-align: center;">Functions</h2>

      <div class="row">
        <div class="col-lg-4 img-container">
          <div class="img-container">
          <img class="function-img" src="images/wedding-reception.jpg">
          <h2 class="bottom-heading">Receptions</h2>
          </div>
        </div>
        <div class="col-lg-4 img-container">
          <img class="function-img" src="images/wedding-venue.jpg">
          <h2 class="bottom-heading">Weddings</h2>
        </div>
        <div class="col-lg-4 img-container">
          <img class="function-img" src="images/party.jpg">
          <h2 class="bottom-heading">Parties</h2>
        </div>
      </div>

    </div>

    <%- include("partials/footer") -%>
