<%- include("partials/header") -%>
<%- include("partials/navbar", {active: "Contact Me"}) -%>
    <div class="white" style="padding-bottom: 20px;">
      <h1>Contact Me</h1>
      <hr>
    <h3>Irina Semenova</h3>
    <div class="contact-me">
    <p>Home: (905) 858-3714</p>
    <p>Email: iripianomaster@sympatico.ca</p>
    <p>General location is Winston Churchill and Britannia, Mississauga, Ontario</p>
</div>
<hr>
    </div>
    <div class="coloured">
      <h2>Related Links</h2>
      <hr>
        <div class="row related-links">
          <div class="col-lg-4 links">
            <img class="related-img related-top" src="images/ormta.jpg">
            <a href="https://www.ormta.org/"><button type="button" class="btn btn-outline-light related-btn">ORMTA</button></a>
          </div>
          <div class="col-lg-4 links">
            <img class="related-img" src="images/boris.jpg">
            <a href="http://www.torontopianosale.com/"><button type="button" class="btn btn-outline-light related-btn">Toronto Piano Sale</button></a>
          </div>
          <div class="col-lg-4 links">
            <img class="related-img related-top" src="images/rcm-examinations.png">
            <a href="https://www.rcmexaminations.org/"><button type="button" class="btn btn-outline-light related-btn">RCM Examinations</button></a>
          </div>
  </div>
</div>

<%- include("partials/footer") -%>
