<%- include("partials/header") -%>
<%- include("partials/navbar", {active: "Home"}) -%>

<body>

  <div class="container-fluid title-container bg-image">
    <div class="row">
      <div class="col-lg-6">

        <h1 class="title-heading"><em class="emphasized">Welcome to</em> Irina's Piano Studio </h1>
      </div>
      <div class="col-lg-6">

      </div>
    </div>
  </div>

  <div class="philosophy-container">

    <h1 class="philosophy-heading">My Teaching Philosophy:</h1>
    <img class="home_img" src="images/homephoto.png" alt="Home Photo">

    <p class="philosophy">To help my students develop professional skills,
      <br>open up their individualities,
      <br>but most importantly;
      <br><br>to instil within them a love and appreciation for music and piano playing which they will carry throughout their lives.
    </p>


  </div>
  <div class="coloured">
    <i class="fas fa-quote-left quotation-icon"></i>
    <p class="quotation">"Music is a higher revelation than all wisdom and philosophy."<br> - Ludwig Van Beethoven</p>
  </div>


</body>

<%- include("partials/footer") -%>
