<%- include("partials/header") -%>
<%- include("partials/navbar", {active: "Lessons"}) -%>
<div class="white">
  <div class="row">
      <h1>Lessons</h1>
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h3>Piano Lessons</h3>
            </div>
            <div class="card-body">
              <img class="lessons-img" src="images/pianokeys.png">
              <p>All levels and ages</p>
              <p>Preparation for RCM examinations (optional)</p>
              <p>Preparation for festivals and scholarship assessments (optional)</p>
              <p>Friendly teaching environment</p>
              <p>Each student can be tailored to their individual needs</p>
              <p>Special program for adults</p>

            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h3>Theory Lessons</h3>
            </div>
            <div class="card-body">

              <img class="lessons-img" src="images/pianotheory.png">
              <p>Rudiments</p>
              <p>Harmony</p>
              <p>Counterpoint</p>
              <p>Analysis</p>
              <p>History</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="coloured">
      <h2>Duration of Lessons</h2>
      <p>Depends on level and age - 30 minutes, 45 minutes, 1 hour, or more if required.</p>
      <hr class="divider ms-auto">
      <h2>Location of Lessons</h2>
      <p>Lessons are in my studio.</p>
</div>

<%- include("partials/footer") -%>
