<%- include("partials/header") -%>
<%- include("partials/navbar", {active: "Photo Gallery"}) -%>
<div class="white">
  <h1>Irina's Photo Gallery</h1>
  <hr>
  <img class="gallery-img" src="images/Irina_recital_2007_1.jfif">
  <p class="caption">Irina before recital</p>
  <img class="gallery-img" src="images/Irina_recital_2007_2.jfif">
  <p class="caption">Students after a successful recital</p>
  <img class="gallery-img" src="images/Irina_recital_2007_3.jfif">
  <p class="caption">Adult student program</p>
  <img class="gallery-img" src="images/Irina_recital_2007_4.jfif">
  <p class="caption">Irina's performance for students and their parents</p>
  <hr>
  <h3>Peel Music Festival</h3>
  <img class="gallery-img" src="images/Peel_music_festival_2007_1.jfif">
  <p class="caption">Scholarship winner</p>
  <img class="gallery-img" src="images/Peel_music_festival_2007_2.jfif">
  <p class="caption">Happy Moment</p>
  <hr>
  <h2>History</h2>
  <h3>Spring 2005 Charity Concert, RBC Theatre LAC Mississauga</h3>
  <img class="gallery-img" src="images/rbcconcert11.jpg">
  <p class="caption">Irina with her students, Becky on the left is a teacher as well. All participated in concert organized by Becky</p>
  <img class="gallery-img" src="images/rbcconcert22.jpg">
  <p class="caption">Front of theatre after concert</p>
  <img class="gallery-img" src="images/recitalwinter2004no11.jpg">
  <p class="caption">Irina and her students after an enjoyable recital</p>
  <img class="gallery-img" src="images/recitalwinter2004no22.jpg">
  <p class="caption">Irina and Becky piano duet. Wowing the audience.</p>
  <hr>
  <h3>Canadian National Exhibition ORMTA booth Summer 2005</h3>
  <img class="gallery-img" src="images/exhibition11.jpg">
  <p class="caption">Posing for picture</p>
  <img class="gallery-img" src="images/exhibition22.jpg">
  <p class="caption">Performance for all</p>
  <hr>
  <h3>Additional Activities</h3>
  <img class="gallery-img" src="images/MeAndLarissaa.jpg">
  <p class="caption">Irina and duet partner Larissa dazzling audience at ORMTA meeting</p>
  <img class="gallery-img" src="images/myselfandmayorr.jpg">
  <p class="caption">Playing for mayor Hazel McCallion</p>
  <img class="gallery-img" src="images/metalworkss.jpg">
  <p class="caption">Recording at Metal Works 2004</p>
  <img class="gallery-img" src="images/IrinaAtYorkUniversityy.jpg">
  <p class="caption">Irina at York University to perform a piece written specially for her by last year Ph. D. student</p>
  <img class="gallery-img" src="images/TheKingAndII.jpg">
  <p class="caption">Irina's involvement in the rehearsal for musical theatre</p>
</div>
<%- include("partials/footer") -%>
