/***********************************TAG SELECTORS************************************/

body {
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-family: "PLayfair Display", serif;
  text-align: left;
}

h2 {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  }

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;;
  font-style: italic;
  margin-bottom: 20px;
}

hr {
  border-style: none none dotted none;
  border-width: 5px;
  color: #E3DCDC;
  margin: 50px auto;
  width: 90px;
}

li {
  font-family: "Source Sans Pro";
  color: #ffffff;
  text-align: left;
}

nav ul {
  background-color: #461675;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

nav li {
  float: right;
  font-family: "Source Sans Pro";
}

nav li a {

  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  text-align: center;

  padding: 10px 16px;
  text-decoration: none;
}

p {
  color: #949494;
  font-family: "Source Sans Pro";
  font-size: 1rem;
  font-weight: bold;
  margin: auto;
}

table {
  border-spacing: 10px;
}

td {
  font-family: "Source Sans Pro";
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}

/***********************************CLASS SELECTORS************************************/

.active {
  color: #ffffff;
}

.middle-container {
  background-color: #F4F4F4;
  padding: 50px 0 100px 0;
}

.bio-img {
  /* float: left; */
  margin-bottom: 30px;
  height: 80px;
}

.bio-section {
  text-align: left;
  /* margin-left: 20%; */
  padding: 2% 5%;
}

.bio-text {
  font-family: "Source Sans Pro";
  color: #ffffff;
  text-align: left;
}

.bottom-container {
  background-color: #FFFFFF;
  font-size: 0.5rem;
  margin: auto;
  padding: 20px 0;
}

.bottom-heading {
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  padding: 20px;
}

.bottom_logos {
  height: 100px;
  margin: 20px 0;
}

.bottom-text {
  font-size: 1rem;
  font-family: "Source Sans Pro";
  font-weight: bold;
}

.caption {
  margin-top: 20px;
  margin-bottom: 50px;
}

.card {
  margin: 50px 20px;
}

.coloured {
  background-color: #806c94;
  color: #ffffff;
  padding: 3% 15%;
}

.coloured p {
  color: #ffffff;
  font-weight: normal;
}

.contact-me {
  width: 40%;
  line-height: 2;
  margin: auto;
  text-align: left;
}

.chopin-video {
  width: 30%;
  margin-top: 30px;
}

.cursive {
  font-family: "Euphoria Script", cursive;
  font-size: 3rem;
}

.emphasized {
  font-weight: lighter;
  font-size: 4rem;
}

.function-img {
  border-radius: 10%;
  height: 300px;
  /* margin: 0 30px 30px 30px; */
  width: 250px;
  padding: 3% 0;
}

.gallery-img {
  background-color: #FFFFFF;
  padding: 10px;
}

.header {
  height: 100px;
  margin-top: 20px;
}

.home_img {
  height: 17rem;
  padding: 20px;
}

.img-container {
  position: relative;
}

.lessons {
  font-family: "Source Sans Pro";
  font-weight: bold;
  padding-top: 10%;
}

.lessons ul {
  color: #949494;
  width: 80%;
  padding-left: 30%;
}

.lessons p {
  padding-left: 25%;
  text-align: left;
  color: #000000;
  font-weight: normal;
}

.lessons-img {
  height: 250px;
  padding: 30px;
}

.links {
  padding: 3%;
  text-align: center;
}

/* Bootstrap */
.navbar-brand {
  font-family: "Source Sans Pro";
}

.nav-item {
  padding: 0 10px;
}

.piano-lessons {
  text-align: center;
}

.quotation {
  color: #ffffff;
  font-family: "Playfair Display";
  font-weight: normal;
  font-size: 1.3rem;
}

.quotation-icon {
  font-size: 2rem;
  padding-bottom: 20px;
}

.philosophy-container {
  padding: 3% 15%;
}

.philosophy-heading {
  color: #806c94;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Noto Sans JP";
  text-align: center;
}

.related-btn {
  margin: 40px;
}

.related-img {
  width: 200px;
  margin: auto;
  display: block;
}

.related-inf {
  text-align: center;
  vertical-align: middle;
}

.related-links {
  padding: 0 10%;
}

.resume {
  background-color: #FFFFFF;
  color: #000000;
  line-height: 1.5;
  width: 80%;
  margin: auto;
  text-align: left;
}

.select-audio {
  margin: 50px auto;
  width: 50%;
}

.select-audio ul {
  border-style: solid;
  border-color: #C9BDF0;
  border-width: 2.5px;
}

.select-audio li {
  background-color: #B1A1E6;
  border-color: #C9BDF0;
  border-style: solid;
  float: none;
}

.select-audio li a:hover {
  background-color: #8566AA;
}

.theory-lessons {
  padding-left: 20%;
}

.title-container {
  background-image: url("../images/child-piano.png");
  background-size: 100%;
  background-blend-mode: lighten;
  height: 600px;
  padding: 3% 15%;
}

.title-heading {
  color: #461675;
  text-align: left;
  font-family: "Playfair Display";
  padding: 12%;
  font-weight: bolder;
  font-size: 5rem;
}

.top-container {
  background-color: #461675;
  margin: auto;
}

.white {
  background-color: #ffffff;
  padding: 3% 15%;
}

.white li {
  color: black;
  font-family: "Source Sans Pro";
  font-weight: normal;
}

.white h2 {
    color: #461675;
    text-align: center;
    padding-bottom: 30px;
  }
